<footer class="footer"  >
  <nav class="round">
    <ul class="nav nav-tabs">
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>
